<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King of the Green</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="idx">

    <div class="centered">

        <h1 class="King">King of the Green</h1>

        <form action="/login" method="get">
            <input type="submit" id="login" name="login" value="Login"> <br><br>
        </form>

        <form action="/create-account" method="get">
            <input type="submit" id="create" name="create" value="Create an Account">
        </form>
    </div>
</body>



</html>